body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  color: black;
}

main {
  display: flex;
}

.hire-main {
  background: #f5f1ee;
}

.left-container {
  background: #2d302e;
  width: 30vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.blog-left-container {
  background: #2d302e;
  width: 30vw;
  height: 100vh;
  display: flex;
}

.right-container {
  display: inline-block;
  width: 70vw;
  height: 100vh;
  position: relative;
}

nav {
  border-bottom: 2px solid #2d302e;
}

.main-nav-item {
  display: inline-block;
}

.main-nav-item a {
  margin: 0px 40px;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #42f4ad;
}

.main-nav-items {
  text-align: right;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #42f4ad;
}

.handle {
  font-size: 12px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

.me {
  position: absolute;
  left: 350px;
  top: 100px;
  height: 590px;
  border: 4px solid #42f4ad;
  border-radius: 15px;
}

footer {
  background: #2d302e;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  color: white;
}

.name {
  margin: 400px 0 0 410px;
  color: black;
}

h1 {
  font-size: 20px;
  margin: 0;
}

h2 {
  font-size: 30px;
  margin: 0;
}

.hire-div {
  margin: 0 0 0 410px;
  background: black;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.hire-div:hover {
  background: #2d302e;
  color: #42f4ad;
}

a {
  text-decoration: none;
}

.hire-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 150px auto;
  width: 350px;
  background: #fffffd;
}

input[type='text'],
input[type='email'],
input[type='number'] {
  width: 300px;
  border: none;
  margin-top: 10px;
  background: #dfe2e7;
  height: 25px;
  padding: 8px;
  border-radius: 3px;
  font-size: 14px;
  border: #2d302e 1px solid;
}

#subscribe {
  width: 315px;
  border: none;
  margin-top: 10px;
  background: #dfe2e7;
  height: 40px;
  padding: 8px;
  font-size: 16px;
  text-transform: capitalize;
  background: #2d302e;
  color: #42f4ad;
}

.hire-now {
  text-align: left;
  color: #42f4ad;
  background: #2d302e;
  width: 350px;
  height: 40px;
  vertical-align: middle;
}

.language-icon {
  display: inline-block;
  color: #2d302e;
  background: #42f4ad;
  padding: 16px;
  border-radius: 50%;
  margin-right: 30px;
}

.language-icon h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.language-name {
  display: inline-block;
}

.language-name h4 {
  font-size: 40px;
  margin: 0;
}
.item {
  width: 30vw;
  height: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
  flex-direction: row;
}

.item h4 {
  color: white;
}

.item h4:hover {
  color: #42f4ad;
}

ul a {
  list-style: none;
}


.language-logo{
    margin-top: 10px;
    width: 110px;
    height: 110px;
    border: 4px solid #42f4ad;
    border-radius: 50%;
    padding: 3px;
}

.blog{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.content{
    padding: 30px;
}

#a-react-component{
  margin-top: 10px;
  width: 100px;
  height: 100px;
  background: #42f4ad;
  border: 4px solid red;
}